
@media screen and (max-width 500px)

    body
        padding 0

        .chat-interface
            border-radius: 0

        .left
            display: none !important

        .right
            width: 100% !important